@*@{
    ViewData["Title"] = "Contact Us";
}*@  @*it is directy access from Controller*@

@section breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page-1</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Contact us</a></li>
        </ol>
    </nav>
}

<br />
<p> This is a Contact Us page..;)</p>