<footer class="border-top card-footer text-muted text-center footer">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @*<a href="mailto:janvid.2001@gmailcom">Janvid.2001@gmail.com</a>
        *@
        <custom-email my-email="janvid.200@gmail.com"></custom-email>
    </div>
</footer>
